<!DOCTYPE html>
<html>
<head>
  <title>Item Created</title>
</head>
<body>
  <h1>Item Created Successfully</h1>
  <p>
    Item Name: <%= @item.name %><br>
    Description: <%= @item.description %><br>
    Price: <%= @item.price %>
  </p>
</body>
</html>
