# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/ 